<!--
 * @Descripttion: 
 * @version: 
 * @Author: 王远昭
 * @Date: 2023-03-01 15:49:22
 * @LastEditors: 王远昭
 * @LastEditTime: 2023-03-03 14:53:04
-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <div id="app" style="display: flex;flex-flow: column;margin: 20 ">
        <div style="display: flex;justify-content: center;align-items:
                center;margin: 20">
            <textarea type="text" v-model="info" cols="40" rows="3" style="margin:15"></textarea>
            <button v-on:click="ask()">发送</button>
        </div>
        <div style="display: flex;justify-content: center;align-items:
                center;">
            <textarea name="res" id="res" cols="100" rows="20">{{res}}</textarea>
        </div>
    </div>
    <script>
        const {createApp} = Vue
        createApp({
            data() {
                return {
                    MAX_TOKEN: 4096,
                    total: 0,
                    info: '如果一个面包发臭了，应该怎么办？',
                    messages: [],
                    res: '',
                    api: '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'
                }
            },
            methods: {
                ask() {
                    if (!this.info) {
                        return;
                    } else {
                        this.messages.push({"role": "user", "content": this.info})
                        this.total++;
                    }
                    // 限制max_token，大于5哥问题时删除首元素
                    while (this.total.length > 1) {
                       this.total = this.tota - 1;
                        this.messages.shift()
                    }

                    this.res = '请求中...'
                    axios.post('https://api.openai.com/v1/chat/completions', {
                        messages: this.messages,
                        max_tokens: this.MAX_TOKEN / 2,
                        model: "gpt-3.5-turbo-0301"
                    }, {
                        headers: {'content-type': 'application/json', 'Authorization': 'Bearer ' + this.api}
                    }).then(response => {
                        this.res = response.data['choices'][0]['message']['content'];
                        this.messages.push(response.data['choices'][0]['message']);
                        this.total ++;
                    })
                }
            }
        }).mount('#app')
    </script>
</body>

</html>